<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
/*******************************************************************************
 * Copyright (c) 2011 isandlaTech, Thomas Calmant
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *    Thomas Calmant (isandlaTech) - initial API and implementation
 *    Olivier Gattaz (isandlaTech) - adds content-type
 *******************************************************************************/
-->
<plugin>
    <!--
    note: if a content type is defined with the id "ContentTypeId", it will be retreived from
    the java code with the full qualified id "PluginId.ContentTypeId".
    @see A central content type catalog for Eclipse  
	http://www.eclipse.org/eclipse/platform-core/documents/content_types.html
    -->
	<extension point="org.eclipse.core.contenttype.contentTypes">

	        <!-- declares a content type for reStructuredText source files -->
	        <content-type id="restSource" name="%restsource.name" 
	                base-type="org.eclipse.core.runtime.text"
	                priority="high"                         
	                file-extensions="rst"/>
	</extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name"
            extensions="rst"
            icon="icons/isandlatech_16.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.isandlatech.plugins.rest.editor.RestEditor"
            id="org.isandlatech.plugins.rest.editor.RestEditor">
            <!-- ogat-->
            <contentTypeBinding
               contentTypeId="ReSTEditor.restSource"
            /> 
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.isandlatech.plugins.rest.prefs.EditorPreferencePage"
            id="org.isandlatech.plugins.rest.prefs.EditorPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.isandlatech.plugins.rest.prefs.EditorPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.isandlatech.plugins.rest.wizards"
            name="%category.name">
      </category>
      <wizard
            category="org.isandlatech.plugins.rest.wizards"
            class="org.isandlatech.plugins.rest.wizards.NewSphinxProject"
            icon="icons/isandlatech_16.gif"
            id="org.isandlatech.plugins.rest.wizards.NewSphinxProject"
            name="%wizard.name"
            project="true">
      </wizard>
   </extension>
   <extension
         id="org.isandlatech.plugins.rest.docsetup"
         name="%extension.name"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.isandlatech.plugins.rest.editor.RestDocumentSetupParticipant"
            extensions="rst">
      </participant>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.isandlatech.plugins.rest.launch.MakefileLauncher"
            id="org.isandlatech.plugins.rest.launch.makefile"
            modes="run"
            name="%runner.makefile"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.isandlatech.plugins.rest.launch.MakefileTabGroup"
            id="org.isandlatech.plugins.rest.launch.makefile.tabgroup"
            type="org.isandlatech.plugins.rest.launch.makefile">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="org.isandlatech.plugins.rest.theme"
            label="%editor.name">
      </themeElementCategory>
      <colorDefinition
            categoryId="org.isandlatech.plugins.rest.theme"
            id="org.isandlatech.plugins.rest.theme.default"
            isEditable="true"
            label="%colors.text"
            value="0,0,0">
      </colorDefinition>
      <colorDefinition
            categoryId="org.isandlatech.plugins.rest.theme"
            id="org.isandlatech.plugins.rest.theme.inline.emphasis"
            isEditable="true"
            label="%colors.inline.emphasis"
            value="77,77,77">
      </colorDefinition>
      <colorDefinition
            categoryId="org.isandlatech.plugins.rest.theme"
            id="org.isandlatech.plugins.rest.theme.inline.literal"
            isEditable="true"
            label="%colors.inline.literal"
            value="63,127,95">
      </colorDefinition>
      <colorDefinition
            categoryId="org.isandlatech.plugins.rest.theme"
            id="org.isandlatech.plugins.rest.theme.link"
            isEditable="true"
            label="%colors.links"
            value="0,0,128">
      </colorDefinition>
      <colorDefinition
            categoryId="org.isandlatech.plugins.rest.theme"
            id="org.isandlatech.plugins.rest.theme.bullet"
            isEditable="true"
            label="%colors.bullets"
            value="45,170,45">
      </colorDefinition>
      <colorDefinition
            categoryId="org.isandlatech.plugins.rest.theme"
            id="org.isandlatech.plugins.rest.theme.directive"
            isEditable="true"
            label="%colors.directives"
            value="0,0,255">
      </colorDefinition>
      <colorDefinition
            categoryId="org.isandlatech.plugins.rest.theme"
            id="org.isandlatech.plugins.rest.theme.section"
            isEditable="true"
            label="%colors.sections"
            value="255,165,0">
      </colorDefinition>
      <colorDefinition
            categoryId="org.isandlatech.plugins.rest.theme"
            id="org.isandlatech.plugins.rest.theme.source"
            isEditable="true"
            label="%colors.sources"
            value="63,127,95">
      </colorDefinition>
      <colorDefinition
            categoryId="org.isandlatech.plugins.rest.theme"
            id="org.isandlatech.plugins.rest.theme.table"
            isEditable="true"
            label="%colors.tables"
            value="165,42,42">
      </colorDefinition>
      <colorDefinition
            categoryId="org.isandlatech.plugins.rest.theme"
            id="org.isandlatech.plugins.rest.theme.literal"
            isEditable="true"
            label="%colors.literals"
            value="73,116,230">
      </colorDefinition>
   </extension>
   <extension
         point="org.eclipse.help.toc">
         <toc
               file="help_toc.xml"
               primary="true">
         </toc>
   </extension>

</plugin>
