<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="ReST Editor"
            extensions="rst"
            icon="icons/isandlatech_16.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.isandlatech.plugins.rest.editor.RestEditor"
            id="org.isandlatech.plugins.rest.editor.RestEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.isandlatech.plugins.rest.prefs.EditorPreferencePage"
            id="org.isandlatech.plugins.rest.prefs.EditorPreferencePage"
            name="ReST Editor">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.isandlatech.plugins.rest.prefs.EditorPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
