<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name"
            extensions="rst"
            icon="icons/isandlatech_16.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.isandlatech.plugins.rest.editor.RestEditor"
            id="org.isandlatech.plugins.rest.editor.RestEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.isandlatech.plugins.rest.prefs.EditorPreferencePage"
            id="org.isandlatech.plugins.rest.prefs.EditorPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.isandlatech.plugins.rest.prefs.EditorPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.isandlatech.plugins.rest.wizards"
            name="%category.name">
      </category>
      <wizard
            category="org.isandlatech.plugins.rest.wizards"
            class="org.isandlatech.plugins.rest.wizards.NewSphinxProject"
            icon="icons/isandlatech_16.gif"
            id="org.isandlatech.plugins.rest.wizards.NewSphinxProject"
            name="%wizard.name"
            project="true">
      </wizard>
   </extension>
   <extension
         id="org.isandlatech.plugins.rest.docsetup"
         name="%extension.name"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.isandlatech.plugins.rest.editor.RestDocumentSetupParticipant"
            extensions="rst">
      </participant>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.isandlatech.plugins.rest.launch.MakefileLauncher"
            id="org.isandlatech.plugins.rest.launch.makefile"
            modes="run"
            name="Sphinx (via make file)"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.isandlatech.plugins.rest.launch.MakefileTabGroup"
            id="org.isandlatech.plugins.rest.launch.makefile.tabgroup"
            type="org.isandlatech.plugins.rest.launch.makefile">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
