{% extends "!layout.html" %}

{% block rootrellink %}
		<li><a href="http://sourceforge.net/projects/resteditor">
		<img src="http://sflogo.sourceforge.net/sflogo.php?group_id=554338&amp;type=9"
			width="80" height="15" alt="Get ReST Editor at SourceForge.net." /></a> |&nbsp;</li>
        <li><a href="{{ pathto('index') }}">Project home </a> |&nbsp;</li>
        <li><a href="{{ pathto('contents') }}">Documentation </a> &raquo;</li>
{% endblock %}

{% block relbar1 %}
{{ super() }}
{% endblock %}

{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}
